{% extends "base.html" %}

{% block content %}

<a href="{% url 'dashboard' %}" class="btn btn-secondary">
    Volver al Dashboard
</a>

<h1>Servidores registrados</h1>
<hr>
<a href="{% url 'server_create' %}" class="btn btn-primary">
    Nuevo servidor
</a>

<hr>

{% if servidores %}

    <ul>
    {% for servidor in servidores %}
        <li>
            <strong>{{ servidor.nombre }}</strong><br>
            {{ servidor.url }}<br>

            <a href="{% url 'server_detail' servidor.pk %}" class="btn btn-secondary">
                Ver detalles
            </a>
        </li>
    {% endfor %}
    </ul>

{% else %}

<p>No hay servidores registrados.</p>

{% endif %}

{% endblock %}